{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}CrewBank{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    {% endblock %}

  </head>

	<body class="homepage">
		<div id="page-wrapper">
      			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="index.html">CrewBank</a></h1>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'about' %}">About</a></li>
									<li>
										<a href="#">Account</a>
										<ul>
                      {% if request.user.is_authenticated %}
                        <li>
                          <a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
                        </li>
                        <li>
                          <a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
                        </li>
                      {% else %}
                        <li>
                          <a id="sign-up-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                        </li>
                        <li>
                          <a id="log-in-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                        </li>
                      {% endif %}
										</ul>
									</li>
								</ul>
							</nav>

					</header>
				</div>

      {% block precontent %}{% endblock precontent %}

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            {% block content %}
              <p>Use this document as a way to quick start any new project.</p>
            {% endblock content %}

          </div> <!-- /container -->
        </div>


			<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="3u 6u(medium) 12u$(small)">

								<!-- Links -->
									<section class="widget links">
										<h3>Links</h3>
										<ul class="style2">
                      <li><a href="{% url 'home' %}">Home</a></li>
                      <li><a href="{% url 'about' %}">About</a></li>
										</ul>
									</section>

							</div>
							<div class="3u 6u$(medium) 12u$(small)">
							</div>
							<div class="3u 6u(medium) 12u$(small)">
							</div>
							<div class="3u 6u$(medium) 12u$(small)">

								<!-- Contact -->
									<section class="widget contact last">
										<h3>Contact Us</h3>
										<ul>
											<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
										</ul>
										<p>Ottawa, Ontario Canada</p>
									</section>

							</div>
						</div>
						<div class="row">
							<div class="12u">
								<div id="copyright">
									<ul class="menu">
										<li>&copy; 2017. All rights reserved</li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>


      </div> <!-- /page wrapper -->


    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'js/ie/respond.min.js"></script><![endif]-->

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->

      <script src="{% static 'js/main.js' %}"></script>


    {% endblock javascript %}

  </body>
</html>

