{% extends "base.html" %}
{% load staticfiles i18n %}

{% block precontent %}

<!-- Banner -->
<div id="banner-wrapper">
	<div id="banner" class="box container">
		<div class="row">
			<div class="7u 12u(medium)">
				<h2>Get Sailing.</h2>
				<p>Increase member engagement for your sailing club.</p>
			</div>
		</div>
	</div>
</div>

<!-- Features -->
<div id="features-wrapper">
	<div class="container">
		<div class="row">
			<div class="4u 12u(medium)">

				<!-- Box -->
					<section class="box feature">
						<a href="#" class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
						<div class="inner">
							<header>
								<h2>Ignite some Passion</h2>
							</header>
							<p>Getting people more opportunities to get out on the water more often is what drives interest in the sport.</p>
						</div>
					</section>

			</div>
			<div class="4u 12u(medium)">

				<!-- Box -->
					<section class="box feature">
						<a href="#" class="image featured"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a>
						<div class="inner">
							<header>
								<h2>Community</h2>
							</header>
							<p>Foster a social community that is accessible to new members and nutures friendships through robust communication tools.</p>
						</div>
					</section>

			</div>
			<div class="4u 12u(medium)">

				<!-- Box -->
					<section class="box feature">
						<a href="#" class="image featured"><img src="{% static 'images/pic03.jpg' %}" alt="" /></a>
						<div class="inner">
							<header>
								<h2>More Boats On The Water</h2>
							</header>
							<p>By giving boat owners and skippers ways to co-ordinate with and find crew easily everyone wins.</p>
						</div>
					</section>

			</div>
		</div>
	</div>
</div>

{% endblock precontent %}
{% block content %}
<!-- Content -->
<div id="content">
	<section class="last">
		<h2>So what's this all about?</h2>
		<p>CrewBank is a social community built to support yacht racing.  It allows skippers to find and communicate with
			crew for race days in a way that allows them to manage their team, find replacements at short notice, and also
			helps to give new sailors a chance to experience sailing and learn about this wonderful sport.</p>
		<p>The goal of CrewBank is to give sailors the tools for robust and accountable communication needed to
			build friendships</p>
		<p>We believe that getting more people the opportunity to get out on the water more often is the best way to
			drive increased engagement, grow memberships and foster a stronger community for your sailing club or marina</p>
		<h2>Customized For Your Club</h2>
		<p>We customize Crewbank to fit your club so the look and feel of the site is custom for each customer.
			Contact us Today to find out more.</p>
	</section>
</div>

{% endblock content %}